.DS_Store

*.xcworkspacedata

*.xcscheme

*.xcuserstate

*/xcschememanagement.plist

*.xcsettings

*.xcbkptlist

CempeiChokin.xcodeproj/xcuserdata/ecnailerelia.xcuserdatad/xcschemes/xcschememanagement.plist
