<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Now</key>
	<dict>
		<key>Start</key>
		<date>2012-07-27T15:22:16Z</date>
		<key>Finish</key>
		<date>2012-07-27T15:22:50Z</date>
		<key>Deposit</key>
		<integer>0</integer>
		<key>Budget</key>
		<integer>0</integer>
		<key>Norma</key>
		<integer>0</integer>
	</dict>
	<key>Goal</key>
	<dict>
		<key>Name</key>
		<string>てすと</string>
		<key>Value</key>
		<string>0</string>
		<key>Period</key>
		<string>2012年07月27日</string>
	</dict>
	<key>InitGoal</key>
	<integer>0</integer>
</dict>
</plist>
